<!DOCTYPE html>
<h2>
  <p>
    <span style="color: rgb(255, 149, 28)">This is a prototype portfolio website.</span>
  </p>
</h2>
<body>
  <div id="wrap">
      <div id="content">
          <p>Hi!  I'm Brandon, a software engineer based in Leander, TX who enjoys<br/>
              drawing and building applications.  I develop highly-functional<br/>
              applications that provide the best-possible results for the job.<br/><br/>
              
              Shortly after graduating from <span style="color: rgb(255, 149, 28); font-weight: bold">The University of Houston</span>, I have been<br/>
              searching for an entry level job while continuing to learn new<br/>
              technologies in order to develop a variety of interesting and<br/>
              meaningful projects, such as this prototype :).<br/><br/>
              
              Here are some of the technologies I've been working with recently:<br/>
          </p>
          <ul>
            <li>C++: 4 yrs</li>
            <li>C#: 2 yrs</li>
            <li>Java: 2 yrs</li>
            <li>.NET: 2 yrs</li>
            <li>Javascript: 1 yr</li>
            <li>HTML & CSS: 1 yr</li>
            <li>Typescript: less than 1 yr</li>
            <li>Angular: less than 1 yr</li>
          </ul>
      </div>
  </div>
</body>